<form id="form1" action="/items" method="post">
  <label for="year">Year of Vehicle</label>
  <input id="year" name="year" type="text">

  <label for="model">Make/Model of Vehicle</label>
  <input id="model" name="model" type="text">

  <label for="color">Color of Vehicle</label>
  <input id="color" name="color" type="text">

  <label for="price">Price of Vehicle</label>
  <input id="price" name="price" type="text">
  <button type="submit">Submit</button>
</form>